.custom-radio-group {
  margin: .5rem 2rem;
  width: 90%;

  .ant-space {
    width: 100%;

    .ant-space-item {
      label {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;

        // second span element
        & > span:nth-child(2) {
          flex: auto;        }
      }
    }
  }
}

.ant-card {
  .ant-card-body {
    padding-top: 0;
  }
}